.profile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline-end: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s;
}

.profile__image-container:hover .profile__overlay {
  opacity: 1;
}
