.popup__input-error {
  visibility: hidden;
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 14.52px;
  min-block-size: 29px;
  display: block;
}

.popup__error_visible {
  visibility: visible;
}
