.profile__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .profile__image-container {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image-container {
    margin-right: 0;
  }
}
